<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<app-users></app-users>
<app-card></app-card>
<app-show-date></app-show-date>
<app-generic-alert-button buttonTitle="ping" alertMessage="pong"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="lol" alertMessage="gool"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="philippe" alertMessage="moi"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="pifffff" alertMessage="pafff"></app-generic-alert-button>
<!-- <app-generic-alert-button buttonTitle="aaaaa" alertMessage="bbbb"></app-generic-alert-button> -->
<app-button-menu></app-button-menu>
